.loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #80808080;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loader:not(.visible) {
    display: none;
}
