.create-car-page > form {
    display: flex;
    flex-direction: column;
}

.create-car-page__input {
    position: relative;
    margin-bottom: 20px;
}

    .create-car-page__input > input {
        display: block;
        width: 100%;

        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .create-car-page__input > .error {
        position: absolute;
        left: 0;
        bottom: -20px;
        color: red;
    }

.create-car-page__input:not(:first-of-type),
.create-car-page__button {
    margin-top: 16px;
}
